.jumbotron {
  background-color: #21167b;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 20px; }

body {
  background: #677bc5;
  color: #FFFFFF; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: #21167b;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-funko {
  width: 250px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.btn-reserva > .oi-book {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.bg-dark-blue {
  background: #110363; }

.table-striped-blue tbody tr:nth-of-type(odd) {
  background-color: #8e83cc;
  color: #FFFFFF; }

.table-striped-blue tbody tr:nth-of-type(even) {
  background-color: #2735d4;
  color: #FFFFFF; }

.thead-dark-blue {
  background: #110363;
  color: #FFFFFF; }

.modal-header {
  background-color: #21167b; }

.modal-content {
  background: #677bc5; }

.nav-pills .nav-link {
  background-color: #ffffff8c; }

.accordion .card {
  background-color: #6f6de68c; }

.accordion .card-header {
  background-color: #4639a9; }

.accordion .card-header .btn-link {
  color: #FFFFFF; }

.popover-header {
  background: #4639a9; }
