$yellow: #fcf000;
$red: #cf1d11;
$green: #08a800;
$mainC: #21167b;
$textC: #FFFFFF;
$mainBg: #677bc5; 
$darkBlue: #110363;
$tblStr1: #8e83cc;
$tblStr2: #2735d4;
$headers: #4639a9;
$pill: #ffffff8c;
$accordion: #6f6de68c;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

.jumbotron {
  background-color: $mainC;
  color: $textC;
	@include margenes(50px, 20px);
}

body {
	background: $mainBg;
	color: $textC;
}

footer {
	@include paddings(10px, 10px, 0, 10px)
	background-color: $mainC;
	color: $textC;
	@include margenes(10px, 0px);
}

.card-funko {
	width: 250px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.btn-reserva > .oi-book {
	@include paddings(0px, 10px, 0px, 0px);
}

.footer-address-icon {
	@include paddings(0px, 10px, 0px, 0px);
}

.bg-dark-blue	{
	background: $darkBlue;
}

.table-striped-blue tbody tr:nth-of-type(odd) {
  background-color: $tblStr1;
  color: $textC;
}

.table-striped-blue tbody tr:nth-of-type(even) {
  background-color: $tblStr2;
  color: $textC;
}

.thead-dark-blue	{
	background: $darkBlue;
	color: $textC;
}


.modal-header {
	background-color: $mainC;
}

.modal-content {
	background: $mainBg;
}

.nav-pills .nav-link {
	background-color: $pill;
}

.accordion .card {
	background-color: $accordion;
}

.accordion .card-header {
	background-color: $headers;
}

.accordion .card-header .btn-link {
	color: $textC;
}

.popover-header{
  background: $headers;
}
